<div class="sticky-top text-center">
  <h1 class="h1 p-2">Welcome to Buy Products!</h1>
</div>

<span>Please Login to Continue...</span>
<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col">
      <table class="table">
        <tbody>
        <tr>
          <td>CustomerName:</td>
          <td><input type="text" class="form-control" id="usr" [(ngModel)]="userName" placeholder="Enter your Name"></td>
        </tr>
        <tr>
          <td>Email:</td>
          <td><input type="email" class="form-control" id="email" [(ngModel)]="email" placeholder="Enter your Email"></td>
        </tr>
        <tr>
          <td></td>
          <td class="">
            <div class="row">
              <div class="col-sm-4"><button class="form-control btn-primary active" (click)="enterIntoproject()">Enter</button></div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

<!--
<div>
  <form [formGroup]="loginFormFunction()">

    <table class="table-hover" align="right" bgcolor="#add8e6" style="position: absolute; right: 40px; top: 200px; border-radius: 20px">
      <tr class="bg-primary">
        <td></td>
        <td ><h3>LoginPage</h3></td>
      </tr>
      <tr>
        <td>UserName:</td>
        <td><input class="bg text-danger" type="text" placeholder="Enter User Name" [(ngModel)]="userName" ></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><input type="email" placeholder="Enter Your Email" class="text-danger" [(ngModel)]="email"></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="row">
            <div class="col-sm-4"><button class="form-control btn-primary active" (click)="enterIntoproject()">Enter</button></div>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          New User?
        </td>
        <td><input class=" form-control bg-success" type="button" value="SignUp"></td>
      </tr>

    </table>
  </form>

</div>
-->


<!--<div class="container">
  <form [formGroup]="angForm">
    <table>
      <tbody>
      <tr class="form-group">
        <td> <label>Name:</label></td>
        <td><input class="form-control" formControlName="name" type="text"  pattern="[a-zA-Z\s]+" [(ngModel)]="userName">
          <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)"
                class="alert alert-danger">
            <div *ngIf="angForm.controls['name'].errors.required">
              Name is required.
            </div>
            <div *ngIf="angForm.controls['name'].errors.minlength">
              Name must be at least 4 characters long.
            </div>
            <div *ngIf="angForm.controls['name'].errors.pattern && angForm.controls['name'].touched">
              Name is not Valid
            </div>
          </div>
        </td>
      </tr>


      <tr class="form-group">
        <td><label>Email:</label></td>
        <td><input class="form-control" formControlName="email" type="email"  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$" [(ngModel)]="email">
          <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)"
               class="alert alert-danger">
            <div *ngIf="angForm.controls['email'].errors.required">Email is required.</div>
            <div *ngIf="(angForm.controls['email'].errors.email || angForm.controls['email'].errors.pattern) && angForm.controls['email']
                 .touched">
              Email is not Valid
            </div>
          </div>
        </td>
      </tr>

      <tr align="center">
        <td class="row">
          <div class="col-sm-6"><button class="form-control btn-primary active" (click)="enterIntoproject()">Enter</button></div></td>
      </tr>
      </tbody>
    </table>
  </form>
</div>-->

<app-footer></app-footer>
