<div class="container">
  <!--First Row-->
  <div class="row pt-lg-4" *ngIf="buyProductFlag">
    <div class="col-lg-3 col-sm-3 col-md-3"></div>
    <div class="col">
      <b><h3 class="text-success">Select Items to buy:</h3></b>
      <table class="table col-lg-6 col-sm-6 col-md-6" border="2px solid black">
        <tbody>
        <tr>
          <td class="pt-lg-4 pt-sm-4 pt-md-4">Select An Item : </td>
          <td class="pt-0 pb-0">
            <form  class="example-form" name="autoCompleterForm">
              <mat-form-field  class="example-full-width">
                <input type="text" placeholder="Enter Here" class="btn text-dark bg-transparent " matInput
                       [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="productFilter.name" name="searchBox">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let product of databaseData | filterBy: productFilter"  [value]="product.name"
                              class="active bg-dark text-white rounded-circle"     (click)="productDetails(product)">
                    <div class="text-center">{{product.name}}</div>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>
          </td>
        </tr>

        <tr>
          <td class="pt-lg-4 pt-sm-4 pt-md-4">Enter Quantity :</td>
          <td class="pb-0">
            <form>
              <div class="form-group">
                <select class="form-control" id="sel1"  (click)="selectQuantity($event.target.value)"
                        [(ngModel)]="quantity" [value]="options[0]" name="quantityDropDownform">
                  <option [value]="option" *ngFor="let option of options">{{option}}</option>
                </select>
              </div>
            </form>
          </td>
        </tr>

        <tr>
          <td></td>
          <td><input type="button" value="add into table" (click)="addProduct()" class="btn btn-outline-info bg-success text-white">
          </td>
        </tr>

        <tr></tr>
        <tr></tr>
        <tr>
          <td>Total cost:</td>
          <td><button type="button" class="btn btn-info">{{netTotal}}</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br>
  <br>


  <!--Third Row-->
  <!--Displaying List of items selected by Customer-->
  <div class="row">
    <div class="col-lg-2 col-sm-2 col-md-2"></div>
    <div class="col-lg-9 col-sm-9 col-md-9" *ngIf="addTableFlag">
      <div><strong><h3 class="text-success"><u>Item details:</u></h3></strong></div>
      <table border="2 px" class="table table-hover table-active"  style="width: 100%;">
        <thead>
        <tr>
          <th >Id</th>
          <th>ProductName</th>
          <th>ItemCost</th>
          <th>Quantity</th>
          <th>NetCost</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of productTable">
          <td>{{item.id}}</td>
          <td>{{item.productName}}</td>
          <td>{{item.itemCost}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.netCost}}</td>
          <td><button (click)="removeDataFromTable(item)" type="button" class="btn btn-primary">Remove</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!--Fourth Row-->
  <!--SuccessPage buttons-->
  <div *ngIf="addTableFlag" class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-3">
      <button type="button" class="btn p-2 bg-success btn-outline-info text-white float-left"
              data-toggle="modal" data-target="#alertModal" (click)="successPageNavigationMethod()">Proceed To Pay</button>
      <button type="button" class="btn p-2 bg-success btn-outline-info text-white float-right" (click)="cancelMethod()">Cancel</button>
    </div>
  </div>
</div>

