<app-header></app-header>
<div class="container-fluid fixed-top p-1"  style="background-color: black; width: 100%">
  <div class="row m-1">
     <!--Header Search Box-->
    <div class="col-lg-4 col-sm-4 col-md-4">
      <h1 class="text-primary">Hello {{userData.userName}}</h1>
    </div>

    <!--Welcome Content--><!--style="position: absolute; top: 20%; color: moccasin"-->
    <div class="col-lg-4 col-sm-4 col-md-4 text-center"><h3 class="mt-2" style="color: moccasin" >Welcome To Buy Prodcuts</h3></div>

    <!--Home, Profile, dropDown(Buy Product, Products List, Previous Orders List), Help and LogOut Buttons -->
    <div class="col-lg-4 col-sm-4 col-md-4 mt-2">
      <ul class="list-unstyled">
        <li><button class=" btn" type="button" [routerLink]="['/']">Home</button></li>
        <li><button class="btn" type="button" [routerLink]="['/myCart']">My Cart</button></li>
        <li class="dropdown">
          <button class="btn dropdown-toggle" id="navbardrop" data-toggle="dropdown"> Select </button>
          <div class="dropdown-menu">
            <button class="btn dropdown-item" type="button" (click)="buyProductSendData()">Buy Product</button>
            <button class="btn dropdown-item" type="button" data-toggle="modal" data-target="#myModal">Products List</button>
            <button class="btn dropdown-item" type="button" [routerLink]="['previousOrders']">Previous Orders List</button>
          </div>
        </li>
        <li> <button class="btn" type="button">Help</button> </li>
        <li> <button class="btn" type="button" [routerLink]="['/loginPage']" (click)="goToLoginPage()">logout</button> </li>
      </ul>
    </div>

  </div>
</div>


<!--Displaying All Products details which are available in the database-->
<div class="container" >
  <!-- Modal -->
  <div class="modal fade" id="myModal"  role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div>
            <strong><h3 class="text-success"><u>Products List:</u></h3></strong>
          </div>
          <table class="table">
            <thead class="bg-dark text-white">
            <tr>
              <td><b>id</b></td>
              <td><b>Product Name</b></td>
              <td><b>Category</b></td>
              <td><b>price</b></td>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let productDetails of databaseData">
              <td>{{productDetails.id}}</td>
              <td>{{productDetails.name}}</td>
              <td>{{productDetails.category}}</td>
              <td>{{productDetails.price}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

