<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <div class="table-responsive">
        <table class="table table-hover">
            <tbody>
              <tr>
                <td><b>Customer Name:</b></td>
                <td>{{userData.userName}}</td>
              </tr>
              <tr>
                <td><b>Email:</b></td>
                <td>{{userData.email}}</td>
              </tr>
              <tr>
                <td><b>Number Of Items:</b></td>
                <td>{{userData.noOfItems}}</td>
              </tr>
              <tr>
                <td><b>TotalCost:</b></td>
                <td>{{userData.totalCost}}</td>
              </tr>
            </tbody>
        </table>
      </div>

      <div>Payment successful....</div>
    </div>
  </div>
</div>










