<app-header></app-header>
<h1><ng-flash-message></ng-flash-message></h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4"><ng-flash-message></ng-flash-message></div>
  </div>

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-7">
      <strong><h3 class="text-success">Your cart details:</h3></strong>
      <table class="table table-bordered">
        <tbody>
        <tr>
          <td><b>Customer Name:</b></td>
          <td>{{userData.userName}}</td>
        </tr>
        <tr>
          <td><b>Email:</b></td>
          <td>{{userData.email}}</td>
        </tr>
        <tr>
          <td><b>Number Of Items:</b></td>
          <td>{{userData.noOfItems}} <div class="float-right">
            <button type="button" class="btn btn-primary" (click)="displayItemsById()">Display Items List</button></div></td>
        </tr>
        <tr>
          <td><b>TotalCost:</b></td>
          <td>{{userData.totalCost}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<app-footer></app-footer>











