<div class="container jumbotron">
  <div class="card">
    <div class="card-body">

    </div>
  </div>

  <div class="card shadow m-sm-3 m-md-3 m-lg-3 m-xl-3" *ngFor="let customerData  of customerDetails">
    <div class="row card-body">
      <div class="col">
        <img src="../../assets/{{customerData['productModel'].category}}/{{customerData['productModel'].name}}.jpg" height="250" width="278">
      </div>
      <ul class="col list-unstyled">
        <li>ProductID: {{customerData.productId}}</li>
        <li>ProductName: {{customerData['productModel'].name}}</li>
        <li>Category: {{customerData['productModel'].category}}</li>
        <li><span class="fa pt-1">&#xf156; </span> {{customerData['productModel'].price}}</li>
      </ul>
      <div class="col">
        <div class="float-right font-weight-bolder"><span class="font-weight-light">Ordered On </span> {{customerData.createdAt | date: 'medium'}}</div>
      </div>
    </div>
  </div>
</div>
