<div class="container-fluid">
  <div class="split left jumbotron">
    <div class="justify-content-center">
        <h3 class="font-weight-bolder">Filters:</h3>
        <input type="text" placeholder="search by customer" class="btn searchBtn mb-2" style="background-color: moccasin"><br>
        <input type="text" placeholder="search by amount" class="btn searchBtn mb-2" style="background-color: moccasin">
    </div>
  </div>
  <div class="split right">
   <div class="row">
     <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
       <div class="card shadow bg-secondary">
         <div class="card-body pt-3 pb-0"><pagination-controls (pageChange)="getBillsPaginationSearch($event)"></pagination-controls></div>
       </div>
       <div class="card shadow mb-4" *ngFor="let bills of billData" (click)="navigateToCustomerDetails(bills.id)">
         <div class="card-body">
           <div class="row justify-content-center"><h2 class="font-weight-bolder">{{bills.purchasedBy}}</h2></div>
           <div class="row">
             <h5 class="font-weight-bolder ml-3"> Total Items: {{bills.list}}</h5>
           </div>
           <div class="row">
             <div class="col"><h5 class="font-weight-bolder">Paid Cost:  <small class="fa">&#xf156;</small>{{bills.total}} </h5></div>
             <div class="col font-weight-bolder"><div class="float-right">Date: {{bills.purchasedOn | date: 'medium'}}</div></div>
           </div>
         </div>
       </div>
       <div class="card shadow bg-secondary">
         <div class="card-body pt-3 pb-0" ><pagination-controls (pageChange)="getBillsPaginationSearch($event)"></pagination-controls></div>
       </div>
       <br><br><br><br><br><br><br>
     </div>
     <div class="col jumbotron"></div>
   </div>
  </div>
</div>


